<!DOCTYPE html>
<html>
    <head>
        <title>LAB1_node</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <nav>
            <ul>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
    </body>
</html>