html     
    head 
        style 
            include ../public/css/login.css
        title Simple JS for get data
    body 
        - var loginFormStyle = authenticated ? 'none' : 'block';        
        - var logoutButtonStyle = authenticated ? 'block' : 'none';        
        div(class="login-form", style="display:" + loginFormStyle)
            h1 Login and get data
            form(action="", method="post")
                label(for="username") Username:
                input(type="text", id="username", name="username", required) 
                label(for="password") Password:
                input(type="password", id="password", name="password", required)                 
                input(type="button", id="btnLogin", value="Login") 
        div(class="content-form")
            input(type="button", id="btnLogout", value="Logout", style="display: " + logoutButtonStyle) 
            input(type="button", id="btnGetData", value="Get data") 
        div(id="content")       
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
        script 
            include ../public/js/site.js 