body {
    margin: 0;
}
.news-container-outside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 95%;
}

.news-container-card {
    justify-content: center;
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    background: #e6e6e6;
}

.img-design {
    width: 100%;
    object-fit: cover;
}

.news-title {
    padding-left: 3%;
}

.home-page-title {
    display: flex;
    justify-content: center;
    position: relative;
}
.promocije-container {
    position: relative;
    max-width: 100%; 
}
.promocije-img {
    width: 100%;
    display: block;
}

.promocije-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 120%;
    z-index: 1; 
    font-weight: 1000; 
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #333;
}
 
.intranet-btn {
    height: 100%;
    width: 90px;
    background: #ff8240 !important;
    font-size: 15px !important;
}

.intranet-btn-user {
    display: flex;
    justify-content: center;
    min-width: 100px;
    background-color: #333;
    color:white;
}

.intranet-btn > a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.1em !important;
}

.iksica-imgs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
}

.img-container-card {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #e6e6e6;
}

.img-container-card-img {
    width: 100%;
    object-fit: cover;
}

.img-title {
    display: flex;
    justify-content: center;
}

.navbar-end-container {
    display: flex;
    align-items: center;
}

.navbar-homepage-btn {
    color: white;
    background: rgb(150, 150, 255);
    text-decoration: none;
}

.navbar-homepage-btn > a {
    text-decoration: none;
}
.intranet {
    font-size: 1.6em;
}

.intranet-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em !important;
    height: 100%;
}
.intranet-container p {
    color: red
}

.intranet-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.intranet-form-container input {
    font-size: 25px;
}

.form-container-desing {
    justify-content: center;
    text-align: center;
    background: #e6e6e6;
    min-width: 37%;
    border: 1px solid black;
}

.intranet-form-container > div {
    padding: 10px;
}
 
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studio-container {
    margin: 10px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.submit-btn > button {
    font-size: 25px;
}

.img-gal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    margin: 5%;
    margin-top: 10px;
    background: white;
}

.studio-btn {
    width: 20%;
    background: #ff8240 !important;
    padding: 20px;
}

.studio-btn > a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.1em;
}

.notification-button {
    width: 10%;
    margin: 10px;
    font-weight: 800;
    font-size: 15px;
    background: rgb(53, 255, 53);
    cursor: pointer;
}

#homepage-btn {
    cursor: pointer;
    background: #333;
    font-size: 1.23em;
    width: 50px;
}

.fa-home {
    color: white;
}

.snapTemplate {
    cursor: pointer !important;
}

.studio-ivan {
    padding-top: 10px;
}

#card-btn {
    cursor: pointer;
}

#mainImage {
    margin: 10px;
}

.studio-background {
    background-image: url('./photo_studio_back/back.jpg');
    background-size: cover; 
    background-position: center;
    height: calc(100vh - 50px);
}

.studio-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.studio-title h1 {
    font-size: 30px;
}

#player {
    border: 2px solid white;
}

#cnvFood {
    border: 2px solid white;
}