.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-page-container-canvas {
    /*margin-top: 0%;*/
}

#canvas-container {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.p-dialog .p-dialog-header .p-dialog-title {
    padding-right: 10px;
}