.home-container {
    width: calc(100% + 100px) !important;
    margin: 0 -50px;
    color: black !important;
}

.form-container-competition {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.form-container-competition-scoring-system {
    display: flex;
    gap: 5px;
}

.form-container-competition-scoring-system > div > span.p-float-label > span > input {
    width: 60px;
}

.scoring-system {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.error-text {
    color: red;
    font-weight: 700;
}