.competitions-table > h3 {
    color: rgb(250, 121, 121)
}

.button-delete-competition {
    background-color: red !important;
    color: black
}

.button-delete-competition-column {
    width: 100px;
}